<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Char</title>

    <div th:insert="fragments/header"></div>
</head>
<body>
<!--/*@thymesVar id="users" type="java.util.List"*/-->
<!--/*@thymesVar id="user" type="guru.springframework.api.domain.User"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <h1>Data fra API</h1>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover ">
                <thead class="thead-inverse">
                <tr>
                    <th>Navn</th>
                    <th>Race</th>
                    <th>Class</th>
                    <th>Spec</th>
                    <th>Guild</th>
                    <th>Realm</th>
                    <th>Average</th>
                    <th>Equipped</th>


                </tr>
                </thead>
                <tr>
                    <td th:text="${character.name}"></td>
                    <td th:text="${character.race.name}"></td>
                    <td th:text="${character.character_class.name}"></td>
                    <td th:text="${character.active_spec.name}"></td>
                    <td th:text="${character.guild.name}"></td>
                    <td th:text="${character.realm.name}"></td>
                    <td th:text="${character.average_item_level}"></td>
                    <td th:text="${character.equipped_item_level}"></td>

                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>